<app-graph-canvas
  #canvas
  [nodes]="nodes()"
  [transitions]="transitions()"
  [selectedNodeId]="selectedNodeId()"
  [currentNodeId]="currentNodeId()"
  [decorations]="decorations()"
  [statusStyles]="statusStyles()"
  [rootLabel]="rootLabel()"
  [showBreadcrumb]="showBreadcrumb()"
  [subgraphResolver]="subgraphResolver()"
  [path]="path()"
  [followExecution]="followExecution()"
  [showDetail]="showInspector()"
  (nodeSelected)="nodeSelected.emit($event)"
  (subgraphEntered)="subgraphEntered.emit($event)"
  (subgraphLeft)="subgraphLeft.emit($event)"
  (graphPathChange)="graphPathChange.emit($event)"
>
  @if (showInspector()) {
    <app-graph-inspector
      detail
      [node]="canvas.selectedNode()"
      [runId]="runId()"
      [hasSubgraph]="canvas.selectedNodeHasSubgraph()"
      (enterSubgraph)="canvas.enterSelectedSubgraph()"
    />
  }
</app-graph-canvas>
